<h2>About <%= @player.name %></h2>

<label for="name">Name:</label>
<%= @player.name %><br>
<label for="name">Birthday:</label>
<%= @player.birthday %><br>
<label for="name">Favorite Color:</label>
<%= @player.favorite_color %><br>
<% if @player.team_id %>
<label for="team_id">Team:</label>
<%= @player.team.name %> <br>
<% end %>
