<h2>About <%= @team.name %></h2>

<label for="name">Name:</label>
<%= @team.name %><br>
<label for="name">City:</label>
<%= @team.city %><br>
<label for="name">Mascot:</label>
<%= @team.mascot %><br>
<label for="roster">Roster:</label>
<% @team.players.each do |player| %>
<%= player.name %><br>
<% end %>
